html {
   scroll-behavior: smooth;
   cursor: default;
}

html::-webkit-scrollbar {
   display: none;
}

body {
   margin: 0;
   font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Libre Baskerville', serif;
}

a {
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

/* flex container */
.flex-container {
   flex-direction: unset;
   display: flex;
   position: relative;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-flow: wrap;
}

.flex-item {
   width: calc(50vw - 10px);
   height: 100vh;
   padding: 0 5px;
}

#home h1 {
   font-size: 5.4vw;
   line-height: 1;
   text-align: left;
   font-weight: normal;
   color: #000;
   margin: 100px 0 0;
}

.linked-buttons-container {
   display: flex;
   justify-content: center;
}

.linked-button {
   text-decoration: none;
   margin: 40px 0 0;
   text-align: center;
   display: block;
   text-transform: uppercase;
   font-size: 1em;
   width: 100%;
   color: #89b1cc;
   padding: 12px 0;
   max-width: 200px;
   border: 1px solid;
}

.linked-button:hover {
   background: #89b1cc;
   color: #fff;
   transition: all 0.5s ease;
}

#home {
   height: 100vh;
   padding: 0 0 0 25vw;
}

#home .container p {
   font-size: 2rem;
   text-align: left;
   overflow: hidden;
}

#home .container p span.typed-text {
   font-weight: normal;
   color: #89b1cc;
}

#home .container p span.cursor {
   display: inline-block;
   background-color: #ccc;
   margin-left: 0.1rem;
   width: 3px;
   animation: blink 1s infinite;
}

#home .container p span.cursor.typing {
   animation: none;
}

@keyframes blink {
   0% {
      background-color: #ccc;
   }

   49% {
      background-color: #ccc;
   }

   50% {
      background-color: transparent;
   }

   99% {
      background-color: transparent;
   }

   100% {
      background-color: #ccc;
   }
}

/* about section */
#about .right {
   background: url("../img/me.jpg");
   background-size: cover;
   background-position: left bottom;
}

#about .linked-button {
   margin: 40px 5px 0;
}

#about .content {
   font-size: .95em;
   padding: 2% 4%;
   max-width: 500px;
   margin: 60px auto 0;
   box-shadow: 1px 2px 2px 2px rgba(12, 12, 12, 0.2);
}

/* contact */


.contact-container {
   margin: 0 auto;
   padding: 0 0 20px;
   max-width: 1200px;
}

.flex-item-button {
   width: calc(33.333% - 20px);
   margin: 0 10px;
   float: left;
   text-align: center;
}

.flex-item-button a {
   padding: 20px 0;
   text-decoration: none;
   font-size: 1.25em;
   text-transform: uppercase;
   display: block;
   max-width: 400px;
   color: #89b1cc;
   border: 1px solid;
   margin: 0 auto;
   width: 100%;
   border: 1px solid;
   text-align: center;
}

.flex-item-button a:hover {
   background: #89b1cc;
   color: #fff;
}

.flex-item-button .hidden,
.flex-item-button a:hover .visible {
   display: none;
}

.flex-item-button a:hover .hidden,
.flex-item-button .visible {
   display: block;
}

/* popup */
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   transition: opacity 200ms;
   visibility: hidden;
   opacity: 0;
}

.overlay .back-button {
   position: absolute;
   top: 10px;
   right: 10px;
}

.overlay .cancel {
   position: absolute;
   width: 100vw;
   z-index: 1;
   background: rgba(0, 0, 0, 0.5);
   display: block;
   height: 100vh;
   cursor: default;
}

body:has(.overlay:target) {
   height: 100%;
   overflow: hidden
}

.overlay:target {
   visibility: visible;
   opacity: 1;
}

.modal {
   padding: 20px 40px;
   max-width: 800px;
   max-height: calc(100vh - 80px);
   overflow: auto;
   margin: 20px auto;
   z-index: 38483;
   background: #fff;
   border: 1px solid #666;
   width: auto;
   border-radius: 6px;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
   position: relative;
}

.modal .close {
   position: absolute;
   width: 20px;
   height: 20px;
   top: 20px;
   right: 20px;
   opacity: 0.8;
   transition: all 200ms;
   font-size: 24px;
   font-weight: bold;
   text-decoration: none;
   color: #777;
}

.modal .close:hover {
   opacity: 1;
}

.show {
   display: none;
}

@media (max-width: 768px) {
   .flex-item {
      width: 100vw;
      height: auto;
   }

   .wrapper {
      padding: 60px 0 0;
   }

   .container,
   #contact {
      height: auto;
   }

   .backtotop svg,
   .word6 {
      display: none;
   }

   .flex-item h1 {
      margin: 40px 0;
   }

   #about .content {
      max-width: 100%;
      margin: 0;
      font-size: 1em;
   }

   .wrapper {
      max-width: 300px;
   }

   body .flex-container:nth-child(2) .flex-item:nth-child(1) {
      height: auto;
      margin: 0 10px;
   }

   body .flex-container:nth-child(2) .flex-item:nth-child(2) {
      display: none;
   }

   .flex-item-button {
      width: calc(100% - 40px);
      text-align: center;
      float: none;
      margin: 0 auto 10px;
   }

   .contact-container {
      padding: 40px 0 0;
   }

   .hide {
      display: none;
   }

   #home {
      height: 25vh;
      padding: 0px 0 0 5vw;
   }

   .show {
      display: block;
   }
}

@media (max-width: 600px) {
   .flex-item h1 {
      margin: 40px 0 20px;
   }

   #home .container p {
      font-size: 1em;
   }
}

/* work container */

.work-container {
   margin: 40px;
   border: 1px solid #efefef;
   height: calc(100vh - 80px);
   box-shadow: 1px 2px 2px 2px rgba(12, 12, 12, 0.2);
   position: fixed;
   overflow: auto;
   width: calc(100vw - 80px);
}

.work-container .back-button {
   position: fixed;
   top: 50px;
   right: 50px;
}

.content-container img {
   width: 100%;
   max-width: 800px;
   margin: 0 auto 20px;
   box-shadow: 1px 2px 2px 2px rgba(12, 12, 12, 0.2);
   display: block;
}

.content-container iframe {
   box-shadow: 1px 2px 2px 2px rgba(12, 12, 12, 0.2);
   margin: 0 auto;
   display: block;
}

.project-section-1 {
   position: relative;
   display: block;
   overflow: hidden;
   height: 100vh;
   background-color: transparent;
}

.container-1 {
   position: relative;
   right: 266px;
   bottom: 0px;
   margin: 20px 0;
   height: calc(100vh - 40px);
   margin-bottom: 0px;
   background-image: url('../img/bs_6.png');
   background-position: top right;
   background-size: cover, auto;
   background-attachment: scroll, scroll;
}

.container-2 {
   position: relative;
   left: 139px;
   top: 0px;
   right: 240px;
   bottom: 0px;
   overflow: visible;
   margin: 20px 0;
   height: calc(100vh - 40px);
   margin-bottom: 0px;
   background-image: url('../img/bs_7.png');
   background-position: top right;
   background-size: cover, auto;
   background-repeat: no-repeat, repeat;
}

.container-3 {
   position: relative;
   right: 266px;
   bottom: 0px;
   margin: 20px 0;
   height: calc(100vh - 40px);
   margin-bottom: 0px;
   background-image: url('../img/bs_12.png');
   background-position: top right;
   background-size: cover, auto;
   background-attachment: scroll, scroll;
}

.w-container {
   margin-right: auto;
   max-width: 940px;
}

.x-container {
   margin-left: auto;
   max-width: 940px;
}

.project-box-1 {
   position: relative;
   left: 186px;
   top: 146px;
   right: 262px;
   bottom: 19px;
   z-index: 1;
   width: 300px;
   height: 300px;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
   padding: 40px;
   float: right;
   background-color: #2c9bce;
   opacity: 1;
}

.project-box-2 {
   position: relative;
   left: -197px;
   top: 146px;
   bottom: 19px;
   z-index: 1;
   width: 300px;
   height: 300px;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
   padding: 40px;
   float: left;
   background-color: #f49c57;
   opacity: 1;
}

.project-box-3 {
   position: relative;
   left: 186px;
   top: 146px;
   right: 262px;
   bottom: 19px;
   z-index: 1;
   width: 300px;
   height: 300px;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
   padding: 40px;
   float: right;
   background-color: #2c9bce;
   opacity: 1;
}

@media screen and (max-width: 991px) {
   .project-box-2 {
      left: -76px;
      z-index: 1;
   }
}

@media screen and (max-width: 479px) {
   .project-box-2, .project-box-1, .project-box-3 {
      left: 0px;
      top: 100px;
      right: 0px;
      bottom: 0px;
      display: block;
      overflow: visible;
      padding: 15px;
      margin-right: auto;
      margin-left: auto;
      float: none;
   }
   .container-2, .container-1, .container-3 {
      left: 0;
      height: calc(50vh - 40px);
      background-size: contain, auto;
   }
   .project-section-1 {
      height: 60vh;
   }
   #about {
      margin: 0 0 15vh;
   }
   .modal {
      max-height: calc(55vh - 80px);
   }
}

.project-link-block {
   position: absolute;
   left: 0px;
   top: 0px;
   right: 0px;
   bottom: 0px;
   z-index: 10;
   display: block;
   overflow: hidden;
   width: 300px;
   height: 300px;
   background-color: hsla(0, 0%, 100%, 0.15);
   text-decoration: none;
}

.w-inline-block {
   max-width: 100%;
   display: inline-block;
}

.heading {
   margin-bottom: 16px;
   color: #fff;
   font-size: 24px;
   line-height: 32px;
   font-weight: 300;
   letter-spacing: 0.3px;
   text-transform: none;
}

.paragraph-subheading {
   position: relative;
   display: block;
   margin-bottom: 40px;
   float: right;
   color: #fff;
   font-size: 17px;
   line-height: 25px;
   font-weight: 300;
   text-align: left;
   letter-spacing: -0.2px;
   text-transform: none;
}

.box-spacer {
   height: 125px;
   margin-bottom: 0px;
}

.view-case-study-link {
   color: #fff;
   font-family: 'Libre Baskerville', serif;
   text-transform: uppercase;
}

.case-study-link {
   vertical-align: super;
}

.footer.accent {
   padding-right: 0px;
   padding-left: 10px;
   background-color: transparent;
}

.footer {
   padding-top: 50px;
   padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
   .footer.accent {
       padding-right: 24px;
       padding-left: 24px;
   }
   }

@media screen and (max-width: 479px) {
   .footer.accent {
      position: static;
      overflow: hidden;
      padding-right: 23px;
      padding-left: 23px;
   }
}

@media screen and (max-width: 767px) {
.footer {
    padding-right: 20px;
    padding-left: 20px;
}
}

.float-right {
   float: right;
}

@media screen and (max-width: 479px) {
.float-right { 
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
}
}

@media screen and (max-width: 479px) {
.social-icon-link {
    position: relative;
    right: 10px;
}
}

.social-icon-link {
   margin-right: -3px;
   padding: 3px 10px;
   opacity: 1;
   -webkit-transition: opacity 150ms ease;
   transition: opacity 150ms ease;
}
.footer-text {
   position: relative;
   max-width: 70%;
   margin: 5px auto;
   padding-left: 0px;
   float: left;
   clear: none;
   color: #bebebe;
   font-size: 14px;
   font-weight: 300;
   text-align: left;
   letter-spacing: -0.2px;
}

@media screen and (max-width: 479px) {
.footer-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    clear: none;
    text-align: left;
}
}

.view-more-button-right {
   position: absolute;
   bottom: 15px;
   font-family: 'Libre Baskerville', serif;
   right: 15px;
}

.view-more-button-left {
   position: absolute;
   font-family: 'Libre Baskerville', serif;
   bottom: 15px;
   left: 15px;
}

.view-more-button-left span, .view-more-button-right span {
   vertical-align: bottom;
}